.information{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    position: relative;
    width: 100%;
    background-color: #F3B9FF;
    padding: 70px 0;
}
.column{
    width: 25%;
    padding: 0 15px;
}

.column h4{
    font-size: 18px;
    color: #530064;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.column h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #530064;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.column ul li:not(:last-child){
    margin-bottom: 10px;
}
.column ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #530064;
    text-decoration: none;
    font-weight: 400;
    color:#530064;
    display: block;
}

.column ul li a:hover {
    color: #ffff;
    transition: 0.3s;
}

.column .social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #530064;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    border:2px solid #530064;
    color: #F3B9FF;
    transition: all 0.5s ease;

}
.column .social a:hover{
    color: #530064;
    background-color: #F3B9FF;
}